<_within file="application.html">

  <div id="content">

    <div template="wefeedus" field="id:id" class="wefeedus">

      <div id="header" class="header">
        <div id="time-navigation" class="navigation">

          <div id="hour-slider" class="hour-slider">
            <div id="start-hour" class="goog-twothumbslider-value-thumb hour-button">8:00</div>
            <div id="end-hour" class="goog-twothumbslider-extent-thumb hour-button">22:00</div>
          </div>

          <div id="date-stepper"class="date-stepper button">1.1.00</div>
        </div>
        <div id="add-button" class="button add-button">add!</div>
      </div>

      <div id="map" class="map"> </div>

      <div id="footer" class="footer"></div>

    </div>

  </div>

</_within>
